<!DOCTYPE html>
<html>
<head>
<title>Register</title>
<style>
body {
    background:black;
    color:#00eaff;
    font-family:monospace;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}
.box {
    width:300px;
    padding:20px;
    background:#111;
    box-shadow:0 0 20px #00eaff;
}
input, button {
    width:100%;
    padding:10px;
    margin:10px 0;
}
button { background:#00eaff; }
</style>
</head>
<body>

<div class="box">
    <h2>REGISTER</h2>

    <form method="POST">
        <input name="username" placeholder="Username">
        <input name="password" type="password" placeholder="Password">
        <button>REGISTER</button>
    </form>
</div>

</body>
</html>